.navbar_bg {
    background-color: var(--dark-blue);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    color: var(--off-white);
    margin-left: 20px;
}

.right-side {
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

.navbar-link {
    color: var(--off-white);
    text-decoration: none;
    transition: 0.2s;
}

.navbar-link:hover {
    color: var(--light-red);
}